# Pycharm配置文件及自动生成的文件
DigitalImageProcessing/OpenCV-python/.idea


# 测试文件
DigitalImageProcessing/OpenCV-python/GlobalTest.py
DigitalImageProcessing/OpenCV-python/main.py
DigitalImageProcessing/Matlab/GlobalTest.m

# 资源文件与输出文件
DigitalImageProcessing/output
DigitalImageProcessing/resource

# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk


