# 资源文件与输出文件
DigitalImageProcessing/output
DigitalImageProcessing/resource
DigitalImageProcessing/OpenCV-python/Experiment/cohead

# Pycharm配置文件及自动生成的文件
DigitalImageProcessing/.idea
DigitalImageProcessing/OpenCV-python/.idea
ComputerGraphics/Experiment/.idea
ComputerGraphics/.idea
*.pyc   
## py3.9虚拟环境
ComputerGraphics/Experiment/venv    

# VSCode生成文件
.vscode


# 测试文件
DigitalImageProcessing/OpenCV-python/GlobalTest.py
DigitalImageProcessing/OpenCV-python/main.py
DigitalImageProcessing/Matlab/GlobalTest.m
ComputerGraphics/Experiment/GlobalTest.py
ComputerGraphics/code2flow/

# 辅助性文件
## 用于截取实验记录并输出PDF
tmp.md
## 用于重排c文件
TMP.c

# 个人文件
resource.md
CompilingTechnique/实验/个人实验报告模板.md
DigitalImageProcessing/个人数字图像处理实验报告模板.md






# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
*.jpg
DigitalImageProcessing/GlobalTest.py
